<h1>All Students</h1>

<table>
  <% @students.each do |stdt| %>
    <tr>
      <td><%= link_to stdt.name, student_path(stdt) %></td>
      <td><%= stdt.graduationYear %></td>
    </tr>
  <% end %>
</table>
<p>
<%= link_to "New Student", new_student_path %>

