<h1>All Schools</h1>

<table>
  <% @schools.each do |school| %>
    <tr>
      <td><%= link_to school.name, school_path(school) %></td>
    </tr>
  <% end %>
</table>
<p>
<%= link_to "New school", new_school_path %>